html, body{
    height:100%;
    margin:0;
    padding:0;
}

.container{
    position: fixed;
    width:100%;
    height: 100%;
    bottom: 27px;
}

.videoWrapperSmall {
    position:relative;
	width:100%;
	height:1%;
    max-width: 100%;
    max-height: 100%;
}

.videoRemove {
	top: -200%;
	height:  100%;
}

.videoWrapperFull {
    padding-top: 3px;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
	height:99%;
    max-width: 100%;
    max-height: 100%;
}

.videoWrapperNone {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
	height:1%;
    max-width: 100%;
    max-height: 100%;
}

.videoFull{
    position: relative;
    width:100%;
	height:100%;
    max-width: 100%;
    max-height: 100%;
}

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.buttons {
    position: fixed;
    width:100%;
    height: 24px;
	bottom: 0px;
    padding-top: 3px;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

#js-progressbar-container {
        position: relative;
        width: 300px; 
        /*padding: 20px 5px 20px 5px; /* Space for progresbar-texts */
        background-color: transparent;
}
