<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VidyoSwiftSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>737226E81E79D2F500F964C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>737226FC1E79D2F600F964C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>737227071E79D2F700F964C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
